
.time{
    float: right;
}
.starContainer{
    height: 200px;;
}

body{
    background: url("/resources/img/club_back.jpg") no-repeat fixed 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: inset 0 0 100px rgba(0,0,0,.7);
}
.messageItem{
    padding-top: 10px;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
}
.messageArea{
    margin-bottom: 40px;
}