
body{
    background: url("/resources/img/race_back.jpg") no-repeat fixed 50% 50%;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: inset 0 0 100px rgba(0,0,0,.7);
}
#mine{

}
#join{
    display: none;
}
.map{
    height: 250px;

}
.mapWrapper{
    border: 1px solid #e5e9ef;
    border-radius: 1%;
    padding: 5px;
}